<html>
    <head>
        <title>Admin Page</title>
    </head>
    <body>
        <p>
            <a href="/admin/courses">View all courses</a>
        </p>
        <p>
            <a href="/admin/users">View all users</a>
        </p>
    </body>
</html>