<html>
<head> 
	<title>Video streaming with Node.js</title> 
</head> 
<body> 
<%if(!currentUser){%>
	<a href="/auth/outlook">Login</a>
	<%} else{%>
		<p><a href="/profile">View profile</a></p>
		<a href="/profile"><p><%=currentUser.name%></p></a>
		<%courses.forEach(function(course){%>
            <div><a href="/courses/<%=course._id%>"><%=course.title%></a></div>
            <%})%>
		<br>
		<a href="/logout">Logout</a>
	<%}%>
</body> 
</html>