<h1>Developers of this website</h1>
<h3>Website currently under development stage. Beta version to be launched soon</h3>
<ul>
    <li>
        <ul>
            <li>Satyendra Dhaka</li>
            <li>satyendradhaka5@gmail.com</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Pranjal Chourasia</li>
            <li> chourasi@iitg.ac.in</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Ritvika Nandi</li>
            <li>ritvika@iitg.ac.in</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Shashwat Sharma</li>
            <li>shashwat.sharma@iitg.ac.in</li>
        </ul>
    </li>
</ul>