<html>
<head> 
	<title>Video streaming with Node.js</title> 
</head> 
<body> 
<%if(!currentUser){%>
	<a href="/auth/outlook">Login</a>
	<%} else{%>
		<p><a href="/profile">View profile</a></p>
		<a href="/profile"><p><%=currentUser.name%></p></a>
		<a href="/courses/all">All Courses</a>
		<br>
    <%if(currentUser && currentUser.isAdmin){%>
			<p>
				<a href="/admin">Admin Page</a>				
			</p>
		<%}%>
		<a href="/logout">Logout</a>
	<%}%>
</body> 
</html>