<html>
<head> 
	<title>Video streaming with Node.js</title> 
</head> 
<body> 
<%if(!currentUser){%>
	<a href="/auth/outlook">Login</a>
	<%} else{%>
		<p><a href="/profile">View profile</a></p>
		<a href="/profile"><p><%=currentUser.name%></p></a>
		<%media.forEach(function(video){%>
			<div><a href="video/<%=video._id%>"><%=video.name%></a></div>
		<%})%>
		<a href="/logout">Logout</a>
	<%}%>
</body> 
</html>