<html>
<head> 
	<title>Video streaming with Node.js</title> 
</head> 
<body> 
	<!-- <video id="videoPlayer" controls muted="muted" autoplay> 
		<source src="http://localhost:3000/video/" type="video/mp4"> 
	</video>  -->

	
		<!-- <div><a href="/video/video._id">video.name</a></div> -->
		<a href="/">Home</a>
		<a href="/profile"><p><%=currentUser.name%></p></a>
		<p><a href="#">Email</a>: <%=currentUser.email%></p>
		<a href="/logout">Logout</a>
	<h2><%=video.name%></h2>
	<video id="video" width="640" controls>
        <source src="/video/watch/<%=video._id%>" type="video/mp4">
	</video>
	
	<div>
		<button type="button" id="bookmark">Bookmark</button>
		<button type="button" id="goto">Goto Bookmark</button>
	</div>
    <div>
		<button type="button" id="backward">-10s</button>
		<button type="button" id="forward">+10s</button>
	</div>

    <div>
		<button type="button" id="slow">0.5x</button>
		<button type="button" id="littleSlow">0.75x</button>
		<button type="button" id="normal">1x</button>
		<button type="button" id="littleFast">1.25x</button>
    	<button type="button" id="fast">1.5x</button>
		<button type="button" id="veryFast">2x</button>
	</div>



<script type="text/javascript">
	var video = document.getElementById('video');
	var bookmark=document.getElementById("bookmark");
	var goto=document.getElementById("goto");
	var timeStamp;

	var forward=document.getElementById("forward");
	var backward=document.getElementById("backward");

	var slow=document.getElementById("slow");
	var littleSlow=document.getElementById("littleSlow");
	var normal=document.getElementById("normal");
	var littleFast=document.getElementById("littleFast");
	var fast=document.getElementById("fast");
	var veryFast=document.getElementById("veryFast");


	bookmark.onclick = function myFunction() {
		timeStamp=video.currentTime;
		console.log(timeStamp);
	}

	goto.onclick = function myFunction() {
		video.currentTime=timeStamp;
	}

	forward.onclick=function myFunction(){
		video.currentTime=video.currentTime+10;
	}

	backward.onclick=function myFunction(){
		video.currentTime=video.currentTime-10;
	}

	slow.onclick=function setPlaySpeed() { 
		video.playbackRate = 0.5;
	}

	littleSlow.onclick=function setPlaySpeed() { 
		video.playbackRate = 0.75;
	}

	normal.onclick=function setPlaySpeed() { 
		video.playbackRate = 1;
	}

	littleFast.onclick=function setPlaySpeed() { 
		video.playbackRate = 1.25;
	}

	fast.onclick=function setPlaySpeed() { 
		video.playbackRate = 1.5;
	}

	veryFast.onclick=function setPlaySpeed() { 
		video.playbackRate = 2;
	}	
</script>
	


</body> 
</html>
