<h1>login page</h1>

<form action="/login" method="post">
    <input type="email" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">login</button>
</form>