<h1>registeration page</h1>

<form action="/register" method="post">
    <input type="text" placeholder="username" 	name="username">
    <input type="email" placeholder="official iitg email"   name="outlookId">
    <input type="password" placeholder="password" name="password" minlength="8">
    <input type="submit" value="sign up">
</form>