body{
	height:100vh;
	background-image: url("/images/coursesback.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family:'Roboto',sans-serif;
}

p{
	font-size:1.2rem;
	font-weight:500;
}

.col{
	background-color: white;
	border-radius:10px;
}