body{
	background-color: rgba(255,224,49,1);
	background-image:url("/images/home-bg.png");
	background-size:cover;
	background-repeat: no-repeat;
	font-family:'Roboto',sans-serif;
}

#hp{
	margin:20% 2% 5% 0px;
	vertical-align: right;
}

#logo{
	width:26rem;
	max-width:100%;
}

.home-nav-button{
	border:3px solid black;
	font-weight: 500;
}

#content{
	/*padding-left:2rem;*/
}

#introPara{
	font-weight: 300;
	font-size:1.2rem;
	margin-bottom:3rem;
}

#searchForm input{
	padding:1.5rem;
	padding-left:4rem;
	margin-bottom:1rem;
	border-radius: 20px;
	font-size:1.2rem;
	font-weight: 300;
	background-color: #FFFFFF;
	background-image:url("/images/search-glass.png");
	background-repeat: no-repeat;
	background-position: left 1rem center;
	background-size:1.5rem 1.5rem;
}

h3{
	font-family: 'Rubik',sans-serif;
}

#linkWrapper{
	font-size:1.1rem;
	padding-top:1rem;
	font-family:'Rubik',sans-serif;
	font-weight: 300;
	flex-wrap: wrap;
}

#linkWrapper>a{
	text-decoration: underline;
	color:#0A0A0A;
}